.gift{
    position: fixed;
    right: 10%;
    left: 10%;
    top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 70vw;
    height: 35%;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(195,215,232,1) 92%, rgba(0,212,255,1) 100%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 5px 3px 2px 2px;
    border: 1px black solid;
}

